.reactMarkDown * {
  box-sizing: border-box;
  font-size: 20px;
  @apply tracking-wide;
}

.reactMarkDown img {
  object-fit: cover;
  height: 40vh;
  object-position: center;
}
.reactMarkDown h1 {
  font-size: 36px;

  @apply mb-12 mt-8 font-bold;
}
.reactMarkDown h2 {
  font-size: 32px;

  @apply mb-12 mt-12 font-bold;
}

.reactMarkDown h3 {
  font-size: 28px;

  @apply mb-12 mt-12 font-bold;
}

.reactMarkDown h4 {
  font-size: 24px;

  @apply mb-12 mt-12 font-bold;
}

.reactMarkDown p {
  font-size: 22px;
  line-height: 52px;
  @apply mb-4;
}

.reactMarkDown ul {
  margin-left: 40px;
  @apply ml-10 mb-4;
}
.reactMarkDown ul li {
  list-style: inside;
  @apply mb-2;
}

.reactMarkDown a {
  text-decoration: underline;
  @apply bg-secondary font-extralight;
}

.reactMarkDown em {
  @apply italic;
}

.reactMarkDown strong {
  @apply font-bold;
}

.reactMarkDown pre {
  @apply mb-4 bg-none;
}
